.submit{
  color:#fff;
  width: 100px;
}
mat-radio-button{
  margin:0 5px;
  vertical-align: sub;
}
#radio-group-label{
  margin: 5px 5px 5px 0;
}
.clr{
  background-color: var(--fifth-color);
  color:#fff;
}
mat-toolbar{
  background-color: var(--main-color);
  color:#fff;
  position: absolute;
  top: 0;
  z-index: 2;
}
mat-form-field{
  margin-top: 25px !important;
}
mat-checkbox{
direction: rtl;
  text-align: right;
  margin-top: 15px;

}
.req {
   position: absolute;
  bottom: -18px;
  right: 0;
  color: #f44336;
  font-size: 75%;
}
