
<mat-toolbar>
  <span class="fill-remaining-space">Edit</span>
  <div class="w-100 text-right">
    <button  class="btn-dialog-close" mat-button  tabIndex="-1" (click)="onClose()"><mat-icon>clear</mat-icon></button>
  </div>

</mat-toolbar>



    <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="controles-container">
            <mat-form-field  apperance="fill">
              <input formControlName="NameofSalesManager" matInput placeholder="Full Name*">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="controles-container">
            <mat-form-field  apperance="fill">
              <input formControlName="Contact" matInput placeholder="Contact*">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            </div>
            </mat-grid-tile>


          <mat-grid-tile >
            <div class="controles-container">
              <input type="hidden" formControlName="$key">
              <mat-form-field  apperance="fill">
                <input formControlName="CompanyName" matInput placeholder="Company Name*">
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>



            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">

              <mat-form-field  apperance="fill">
                <textarea formControlName="OtherInformation" matInput placeholder="Other Information">
                  </textarea>
              </mat-form-field>



            </div>
          </mat-grid-tile>


          <mat-grid-tile >
            <div class="controles-container">

              <section class="example-section d-flex">
                <h6>Requested Service / Speed :</h6>
                <p><mat-checkbox formControlName="E1" >E1</mat-checkbox></p>
                <p><mat-checkbox formControlName="E3" >E3</mat-checkbox></p>
                <p><mat-checkbox formControlName="DS3" >DS3</mat-checkbox></p>



              </section>

              </div>
              </mat-grid-tile>
              <mat-grid-tile >
                <div class="controles-container">
                  <div class="add-bottom-padding">
                    <label id="radio-group-label">Circuit Protection : </label>
                    <mat-radio-group formControlName="CircuitProtection">
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="add-bottom-padding">
                    <label id="radio-group-label">Path Protection : </label>
                    <mat-radio-group formControlName="PathProtection">
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>

              </div>
              </mat-grid-tile>
              </mat-grid-list>


      </form>


